<%= form_for(@motoristum) do |f| %>
  <% if @motoristum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motoristum.errors.count, "error") %> prohibited this motoristum from being saved:</h2>

      <ul>
      <% @motoristum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :cnh %><br />
    <%= f.text_field :cnh %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :data_validade %><br />
    <%= f.date_select :data_validade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
