<div id="cadastro">
	<h1>  Permissão </h1>
    <fieldset class="pequeno">
    	<legend>Cadastro de Permissões</legend>	

		<%= form_for(@permissao) do |f| %>
		  <% if @permissao.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@permissao.errors.count, "error") %> prohibited this permissao from being saved:</h2>
		
		      <ul>
		      <% @permissao.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		
		  <div class="field">
		    <%= f.label :nome %><br />
		    <%= f.text_field :nome %>
		  </div>
		  <div class="field">
		    <%= f.label :descricao %><br />
		    <%= f.text_field :descricao %>
		  </div>
		  <div class="actions">
		    <%= f.submit %>
		    <%= link_to 'Back', permissaos_path %>
		  </div>
		<% end %>
	</fieldset>	
</div>
