<div id="cadastro">
	<h1>  Veículo </h1>
    <fieldset>
    	<legend>Cadastro de Veículos</legend>
    	<%= link_to 'Novo', new_veiculo_path, :class => "novo"  %>
      	<input type="text" name="txtPesquisa" id="txtPesquisa" />
      	<%=submit_tag 'Pesquisar'%>
		<table>
		  <tr>
		    <th>Placa</th>
		    <th>Modelo</th>
		    <th>Combustivel</th>
		    <th>Ano fabricacao</th>
		    <th>Ano modelo</th>
		    <th>Possui seguro</th>
		    <th>Data cadastro</th>
		    <th>Editar</th>
		    <th>Excluir</th>
		  </tr>
		
		<% @veiculos.each do |veiculo| %>
		  <tr>
		    <td><%= veiculo.placa %></td>
		    <td><%= veiculo.modelo.nome %></td>
		    <td><%= veiculo.combustivel.nome %></td>
		    <td><%= veiculo.ano_fabricacao %></td>
		    <td><%= veiculo.ano_modelo %></td>
		    <td><%= veiculo.possui_seguro %></td>
		    <td><%= veiculo.data_cadastro.to_s_br%></td>
		    <td><%= link_to 'Editar', edit_veiculo_path(veiculo) %></td>
		    <td><%= link_to 'Excluir', veiculo, :confirm => 'Deseja excluir?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>
	</fieldset>
</div>		

